*{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.App{
    background-color:hsl(185, 41%, 84%) ;
    width: 100%;
    height: 100vh;
}
.billAmount{
    background-color: hsl(0, 0%, 100%);
    /* margin: 20% auto; */
    margin-top: 10%;
    margin-left: 5%;
}
.InputWithIcon{
    position: relative;

}
.InputWithIcon input{
    text-align: end;
    background-color:hsl(189, 41%, 97%);
    font-weight: bold;

}

.InputWithIcon svg{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

}
.billHeader h4{
    margin-top: 2rem;
    
}
.selectHeader{
    margin-top:2rem;
}
.selectİtemElement{
    background-color: hsl(183, 100%, 15%);
    line-height: 4rem; 
    text-align: center;
    color: #fff;
    
    
}
.selectGroup{
    display: flex;
   
}
#customNumber{
    background-color:hsl(189, 41%, 97%);
   line-height: 2rem; 
   text-align: center;
   color: hsl(186, 14%, 43%);
   font-weight: bold;
   font-size: 24px;
   
}
.Amount{
    height: 50vh;
    background-color: hsl(183, 100%, 15%);
    margin-top: 10%;
    padding-top: 10%;
    padding-left: 5%;

}
.TipAmount span{
    color:hsl(189, 41%, 97%);
    font-size: 20px;
}

.tipAmaountPerson span{
    color:  hsl(172, 67%, 45%);
    font-size: 24px;
    font-weight: bold;
    
}
#childTitle{
    color:hsl(184, 14%, 56%) !important;
    font-size: 12px;
}
#resetBtn{
    color:hsl(183, 100%, 15%);
    background-color:hsl(172, 67%, 45%);
    font-weight: 20px;
}

#selectItemBtn{
    color: #fff;
}
a{
    text-decoration: none;
}

#selectItemBtn:hover{
color: hsl(183, 100%, 15%); ;
background-color:hsl(172, 67%, 45%);
font-size: 18px;
}

 @media (max-width: 780px) { 
    *{
        font-size: 10px;
    }
    .Amount{
        
         height: 50vh;
        background-color: hsl(183, 100%, 15%);
        margin-top: 10%;
        padding-top: 10%;
        padding-left: 5%; 
    
    }
} 
